p, body {
	font-family: "Source Sans 3", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.1rem;
}
h1, h2 {
	font-family: "Source Sans 3", sans-serif;
	font-weight: 400;
	font-style: normal;
}
h3, h4, h5 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
}
h1 {
	font-size: 6.4rem;
}
h2 {
	font-size: 3.19rem;
}
h3 {
	font-size: 1.63rem;
}
h4 {
	font-size: 1.5rem;
}
.navbar-brand {
    font-family: "Source Sans 3", sans-serif;
	font-weight: 400;
	font-style: normal;
    font-size: 2rem;
    color: #FFFFFF !important;
	text-decoration: none !important;
}
.navbar-text {
    font-family: 'Source Sans 3', sans-serif;
    font-style: normal;
    font-size: 1.63rem;
	color: #000000 !important;
	text-decoration: none !important;
	text-transform: uppercase !important;
}
.navbar-nav {
	font-size: 1.2rem;
	color: #000000 !important;
	text-decoration: none !important;
}
.nav-item {
	text-decoration: none !important;
	text-transform: uppercase !important;
}
.nav-link {
	text-decoration: none !important;
	text-transform: uppercase !important;
}
.navbar-custom {
	background-color: #000000;
}
.dropdown-item:hover {
	background-color: #625079 !important;
	color: #D2AFD4 !important;
	text-decoration: none !important;
}
.dropdown-divider {
	border-top: 1px solid #625079 !important;
}
.dropdown-menu {
	background-color: #0a2243;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.vspacehalfem {
    clear: both;
    height: .5em;
}
div.vspace1em {
    clear: both;
    height: 1em;
}
div.vspace2em {
    clear: both;
    height: 2em;
}
div.vspace3em {
    clear: both;
    height: 3em;
}
div.whitediv {
    background-color: #FFFAF0;
}
img {
    object-fit: contain;
    width: 100%;
    /*padding: 5% 2% 5% 2%;*/
}
footer {
    text-align: center;
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
}
.footer p {
	font-size: 1.1rem;
}
#blacktext {
    color: #141A18;
}
#whitetext {
    color: #FFFFFF;
}
#navbartext {
	color: #000000;
}
.btn-primary, .btn-primary:visited {
    background-color: #0a2243 !important;
	font-family: "Source Sans 3", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.63rem;
	color: #FFFFFF !important;
	margin: 0rem !important;
	padding: 0.35rem 1.5rem !important;
	border-color: #FFFFFF;
	border-radius: 0.2rem !important;
}
.btn-primary:hover, .btn-primary:active {
    background-color: #625079 !important;
	font-family: "Source Sans 3", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.63rem;
	color: #D2AFD4 !important;
	margin: 0rem !important;
	padding: 0.35rem 1.5rem !important;
	border-color: #625079;
	border-radius: 0.1rem !important;
}
a {
	color: #b7e6e1;
	text-decoration: underline;
}
a:hover {
	color: #E3920D;
	text-decoration: underline;
}
.hero-text {
  text-align: left;
  position: absolute;
  top: 10% !important;
  left: 10% !important;
  /*bottom: 10%;
  right: 10%;*/
}
section {
	padding: 0rem;
	margin: 0rem;
	overflow: auto;
}
